langchain==0.3.7
langchain-groq==0.2.3
langchain-cohere==0.4.2
langchain-pinecone
langchain-community==0.3.7
langgraph==0.2.53
pinecone
ragas==0.2.6
datasets==3.1.0
sec-edgar-downloader==5.0.3
pyrate-limiter>=3.1,<4
beautifulsoup4==4.12.3
python-dotenv==1.0.1
tiktoken==0.8.0
